<connectionStrings>
  <!-- Connection String for SQL Server 2005/2008 with Integrated Security -->

  <!-- Connection String for SQL Server 2005/2008 with Standard Security -->
  <!--<add name="yafnet" connectionString="Data Source=(local);Initial Catalog=yafnet;User ID=YOURUSER;Password=YOURPASSWORD" providerName="System.Data.SqlClient" />-->

  <!-- Connection String for SQL Server 2005/2008 Express -->
  <add name="yafnet" connectionString="Data Source=192.168.56.10;Database=WebSite;Integrated Security=False;User ID=SA;Password=#SAPassword!;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
</connectionStrings>
